@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET OVER*/

body {
	font-family: helvetica,'LiHei Pro','Heiti TC','微軟正黑體';
}

::selection {
	background-color: #000;
	color: #fff;
}

.main-block {
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}

.main-block.fixed {
	position: fixed;
	background-color: #000;
}

.main-block.mobile {
	position: absolute;
	background: #000 url(../img/m-bg.jpg) 0 0 no-repeat;
	background-size: cover;
}

.main-block.mobile .video-mask {
	background: rgba(0,0,0,0.3);
}

.main-block iframe, .main-block video {
	position: absolute;
	top: 0;
	left: 0;
}

.main-block iframe {
	width: 120%;
	height: 120%;
	margin-left: -10%;
}

.main-block .video-mask {
	position: absolute;
	width: 100%;
	height: 100vh;
	background: url(../img/video-mask.png);
}

.main-block .logo {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/logo.png) center no-repeat;
}

.icon-vol {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: url(../img/icon-vol.png) 0 0 no-repeat;
	background-size: 30px 60px;
	z-index: 10;
}

.icon-vol.mute {
	background-position: 0 -30px;
}

.w950 {
	width: 950px;
	margin: auto;
	position: relative;
}

h2 {
	font-size: 45px;
	line-height: 65px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 28px;
}

.section-blk {
	width: 100%;
	min-width: 1004px;
	min-height: 700px;
	height: 100vh;
	display: block;
	overflow: hidden;
	position: relative;
}


.section-story01 {
	background-color: #00bcd4;
	background: #00bcd4 url(../img/spacer.png);
	color:#fff;
}

.section-story01 h2 ,.section-story01 p {
	width: 650px;
	margin: auto;
}

.section-story01 h2 {
	margin-top: 20%;
}

.section-story01 .ph1 {
	position: absolute;
	left: 0;
	bottom: 0;
}

.section-story01 .ph2 {
	position: absolute;
	right: 0;
	bottom: 0;
}

.section-story01 .ip-w ,.section-story01 .ip-b {
	position: absolute;
	bottom: 0;
	width: 838px;
	height: 416px;
}

.section-story01 .ip-w {
	left: 15%;
}

.section-story01 .ip-b {
	right: 15%;
}

.section-story01 .hands {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}


.section-story02 {
	background-color: #dadada;
	background: #dadada url(../img/spacer.png);
	color:#333;
}

.section-story02 h2 ,.section-story02 p {
	width: 550px;
	margin: auto
}

.section-story02 h2 {
	margin-top: 20%;
}

.section-story02 p {
	display: none;
}

.section-story02 .dui-01 ,.section-story02 .dui-02 {
	width: 495px;
	height: 495px;
	position: absolute;
	bottom: -53px;
}

.section-story02 .dui-01 {
	background: url(../img/blk02-dui01.png) 0 0 no-repeat \9;
	left: -45px;
}

.section-story02 .dui-01 .anlg {
	position: absolute;
	opacity: .6;
	top: 2px;
	left: 2px;
	width: 491px;
	height: 491px;
	border-radius: 50%;
	border: 2px #fff solid;
	border: 0 \9;
}

.section-story02 .dui-01 .anlg .anlg-btn {
	width: 270px;
	height: 270px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -135px;
	margin-left: -135px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.6);
}

.section-story02 .dui-01 .anlg .anlg-act {
	width: 525px;
	height: 525px;
	top: -15px;
	left: -15px;
	position: absolute;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
}

.section-story02 .dui-02 {
	background: url(../img/blk02-dui02.png) 0 0 no-repeat;
	right: -45px;
}

.section-story02 .dui-01 span, .section-story02 .dui-02 span {
	position: absolute;
	font-size: 18px;
	line-height: 28px;
}

.section-story02 .dui-01 span {
	top: 100px;
	left: 500px;
	width: 450px;
}

.section-story02 .dui-01 span img {
	display: block;
	margin-left: -6px;
	opacity: .8;
}

.section-story02 .dui-02 span {
	bottom: 120px;
	right: 520px;
	width: 450px;
	text-align: right;
}

.section-story02 .dui-02 span img {
	display: block;
	margin-left: 226px;
	margin-bottom: 5px;
	opacity: .8;
}

.section-story02 .dui-02 ul {
	position: relative;
}

.section-story02 .dui-02 li {
	width: 175px;
	height: 175px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0);
	display: block;
	position: absolute;
	cursor: pointer;
}

.section-story02 .dui-02 li.btn-y {
	top: 16px;
	left: 160px;
}

.section-story02 .dui-02 li.btn-x {
	top: 159px;
	left: 14px;
}

.section-story02 .dui-02 li.btn-b {
	top: 159px;
	left: 303px;
}

.section-story02 .dui-02 li.btn-a {
	top: 305px;
	left: 160px;
}

.section-story02 .dui-b ,.section-story02 .dui-y ,.section-story02 .dui-g ,.section-story02 .dui-r {
	position: absolute;
	opacity: .8;
	transition: 0.05s ease-in;
	-webkit-transition: 0.05s ease-in;
}

.section-story02 .dui-r {
	right: -900px;
	bottom: -375px;
}

.section-story02 .dui-b {
	right: 155px;
	bottom: -375px;
}

.section-story02 .dui-y {
	right: -400px;
	bottom: 269px;
}

.section-story02 .dui-g {
	right: -400px;
	bottom: -840px;
}

.section-story03 {
	background: url(../img/congrats-bg.jpg) top center no-repeat;
	background-size: cover;
	color: #fff;
}

.section-story03 video {
	position: absolute;
	width: 100%;
}

.section-story03 .v-cover ,.section-story03 .v-cover-h {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section-story03 .v-cover {
	background: url(../img/congrats-bg.jpg) top center no-repeat;
	background-size: cover;
	opacity: .7;
	-webkit-animation: ray-zoom-in 30s ease-in 0s 1 forwards;
	animation: ray-zoom-in 30s ease-in 0s 1 forwards;
	-webkit-transform: translate3d(-.4%,0,0) scale(1.08);
	transform: translate3d(-.4%,0,0) scale(1.08);
}

.section-story03 .v-cover-h {
	background: url(../img/congrats-bg-h.png) top center no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-animation: ray-zoom-in-h 20s ease-in 0s 1 forwards;
	animation: ray-zoom-in-h 20s ease-in 0s 1 forwards;
	-webkit-transform: translate3d(-2.5%,0,0) scale(1.50);
	transform: translate3d(-2.5%,0,0) scale(1.50);
}

@-webkit-keyframes ray-zoom-in {
	0%{opacity:.5;-webkit-transform:translate3d(0,0,0) scale(1);}
	25%{opacity:.6}
	100%{opacity:.7;-webkit-transform:translate3d(-.8%,0,0) scale(1.16);}
}

@keyframes ray-zoom-in {
	0%{opacity:.5;transform:translate3d(0,0,0) scale(1)}
	25%{opacity:.6}
	100%{opacity:.7;transform:translate3d(-2.5%,0,0) scale(1.50)}
}

@-webkit-keyframes ray-zoom-in-h {
	0%{opacity:.8;-webkit-transform:translate3d(0,0,0) scale(1);}
	25%{opacity:1}
	100%{-webkit-transform:translate3d(-2.5%,0,0) scale(1.50);}
}

@keyframes ray-zoom-in-h {
	0%{opacity:.8;transform:translate3d(0,0,0) scale(1)}
	25%{opacity:1}
	100%{transform:translate3d(-.8%,0,0) scale(1.16)}
}

.section-story03 h2 ,.section-story03 p {
	width: 650px;
	text-align: center;
	margin: auto;
}

.section-story03 h2 {
	margin-top: 23%;
}

.section-story03 p {
	font-size: 22px;
}

.section-story03 p span {
	font-size: 24px;
	line-height: 35px;
	background-color: #011a4c;
	color:#fef668;
	padding: 3px;
	border-radius: 5px;
	opacity: 0;
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in;
}

.section-story03 .g1 ,.section-story03 .g2 {
	position: absolute;
}

.section-story03 .g1 {
	top: 30px;
	left: -20px;
}

.section-story03 .g2 {
	top: 20px;
	right: 0;
}

.section-story03 .game-cover {
	text-align: center;
	top: 300px;
	position: absolute;
	display: none;
	top: 100px \9;
	position: relative \9;
	margin: auto \9;
	display: block \9;
}

.section-story03 .game-cover li {
	display: inline-block;
	width: 130px;
	margin: 3px;
}

.section-story03 .game-cover li span {
	position: absolute;
	top: 180px;
	width: 100%;
	left: 0;
	font-size: 20px;
	line-height: 50px;
	display: none;
}

.section-story03 .game-cover li img {
	width: 120px;
	top: 0px;
	margin-left: 5px;
	height: auto;
	position: absolute;
	display: block;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.section-story03 .game-cover li.active img {
	width: 130px;
	margin-left: 0;
	top: -5px;
	box-shadow: 0 0 0 3px #fff;
	border: 3px #fff solid \9;
	top: -8px \9;
    transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

.section-story03 .game-cover li.active span {
	display: block;
}

.section-story03 .game-cover-new {
	text-align: center;
	top: 50px;
	position: relative;
	display: none \9;
}

.section-story03 .game-cover-new li {
	display: inline-block;
	width: 400px;
	height: 270px;
	margin: 3px;
	/*opacity: .4;*/
	position: relative;
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in;
}

.section-story03 .game-cover-new li span {
	position: absolute;
	top: 180px;
	width: 100%;
	left: 0;
	font-size: 20px;
	line-height: 50px;
	display: none;
}

.section-story03 .game-cover-new li img {
	width: 190px;
	top: 0px;
	height: auto;
	display: inline-block;
	position: absolute;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	filter: grayscale(80%);
	filter: gray*/;
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in;
}

.section-story03 .game-cover-new li img:nth-of-type(1) ,.section-story03 .game-cover-new li::before {
	left: 5px;
}

.section-story03 .game-cover-new li img:nth-of-type(2) ,.section-story03 .game-cover-new li::after {
	right: 5px;
}

.section-story03 .game-cover-new li .dis {
	font-size: 24px;
	line-height: 35px;
	color:#fff;
	padding: 3px 8px;
	border-radius: 5px;
	position: absolute;
	width: 1200px;
	left: 0;
	top: 280px;
	opacity: 0;
}

.section-story03 .game-cover-new li:nth-of-type(1) .dis {
	left: 0px;
}

.section-story03 .game-cover-new li:nth-of-type(2) .dis {
	left: -400px;
}

.section-story03 .game-cover-new li:nth-of-type(3) .dis {
	left: -800px;
}

.section-story03 .game-cover-new li.active {
	opacity: 1;
	z-index: 1;
	/*background-color: rgba(0,0,0,0.6);
	box-shadow: 0 0 25px 15px rgba(0,0,0,0.6);*/
}

.section-story03 .game-cover-new li.active img {
	width: 200px;
	box-shadow: 0 0 8px rgba(255,255,255,.9);
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in;
	/*-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;*/
}

.section-story03 .game-cover-new li::before ,.section-story03 .game-cover-new li::after {
	position: absolute;
	-webkit-transition:0.3s ease-in;
	transition:0.3s ease-in;
	width: 190px;
	height: 258px;
	content: '';
	top: 0;
	display: block;
	z-index: 10;
}

.section-story03 .game-cover-new li.active::before ,.section-story03 .game-cover-new li.active::after {
	width: 200px;
	height: 272px;
	box-shadow: 0 0 0 2px rgba(255,255,255,1) inset;
}


.section-story03 .game-cover-new li.active img:nth-of-type(1) ,.section-story03 .game-cover-new li.active::before {
	top: -6.5px;
	left: -4px;
}

.section-story03 .game-cover-new li.active img:nth-of-type(2) ,.section-story03 .game-cover-new li.active::after {
	top: -6.5px;
	right: -4px;
}

.section-story03 .game-cover-new li.active .dis {
	opacity: 1;
}

.section-story03 .game-cover-new li.active span {
	display: block;
}

.section-story04 {
	background-color: #f5f5f5;
	background: #f5f5f5 url(../img/spacer.png);
	color: #333;
}

.section-story04 h2 {
	margin-top: 35%;
}

.section-story04 h2 ,.section-story04 p {
	width: 380px;
	margin-left: 100px;
}

.section-story04 span {
	font-size: 15px;
	line-height: 25px;
	display: block;
	position: absolute;
	bottom: 10px;
	color: #333;
	width: 100%;
	text-align: center;
}

.section-story04 .cnnct-logo {
	position: absolute;
	right: 100px;
	top: 20px;
}

.section-story04 .cnnct-logo li {
	display: inline-block;
	margin: 5px;
}

.section-story04 .howto-btn a{
	line-height: 50px;
	color: #fff;
	background-color: #1584fe;
	padding: 0 40px;
	display: inline-block;
	border-radius: 4px;
	font-size: 20px;
	margin: 20px 0 0 100px;
	text-decoration: none;
}

.dvc-mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.app-donload {
	position: relative;
	z-index: 5;
	width: 700px;
	margin: 100px auto 0;
	color: #fff;
	text-align: center;
}

.app-donload h2 {
	font-size: 40px;
	line-height: 110px;
	font-weight: bold;
}

.app-donload h2 img {
	float: left;
	margin-right: 10px;
}

.app-donload a.dvc{
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 16px;
	padding: 3px 0;
	text-decoration: none;
	border-bottom: 1px #fff solid
}

.app-donload a.dvc:hover{
	border-bottom: 0px #fff solid
}

.app-donload .store {
	width: 100%;
	position: relative;
	margin-top: 30px;
}

.app-donload .store-apple, .app-donload .store-android {
	width: 365px;
	height: 114px;
	display: block;
	background-color: #000;
	background-color: rgba(0,0,0,.6);
	overflow: hidden;
	border-radius: 5px;
}

.app-donload .store-apple {
	margin-bottom: 5px;
}


.app-donload .store-hami {
	background-color: #000;
	background-color: rgba(0,0,0,.6);
	overflow: hidden;
	border-radius: 5px;
	width: 330px;
	height: 233px;
	position: absolute;
	top: 0;
	right: 0;
}

.app-donload .store-hami .qrcode {
	margin: 25px auto 0;
	display: block;
}

.app-donload .store-apple img, .app-donload .store-android img {
	width: 100%;
	height: 100%;
}

.app-donload a {
	line-height: 50px;
	color:#fff;
}

.app-donload a:hover {
	text-decoration: none;
}

.devices {
	width: 1100px;
	margin-left: -70px;
	padding: 10px 0 0 0;
	position: absolute;
	top: 0;
	background-color: #fff;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	display: none;
}

.devices .close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: url(../img/icon-close.png) 0 0 no-repeat;
	cursor: pointer;
}

.devices li{
	width: 16.6%;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}



.devices li:last-child{
	width: 17%;
}

.devices ol{
	border-top: 1px #acacac solid;
	padding: 10px 0 10px 15%;
	margin: 10px 0;
	width: 85%;
}

.devices ol li{
	display: block;
	font-size: 13px;
	line-height: 23px;
	color:#666;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
	list-style-type:disc;
	white-space: nowrap;
}

.footer {
	color: #fff;
	background-color: #000;
	background: rgba(0,0,0,.6);
	line-height: 18px;
	text-align: left;
	width: 100%;
	height: 56px;
	z-index: 1;
	position: absolute;
	bottom: 0;
}


.footer span b {
    display: block;
    color:#fff;
    font-size: 13px;
    font-weight: normal;
}

.footer .links {
	font-size: 18px;
    position: absolute;
    right: 80px;
}


.footer .links_about {
    background:url(../img/ftr_icon01.png) 0 12px no-repeat;
}

.footer .links_dev {
    background:url(../img/ftr_icon02.png) 0 12px no-repeat;
}

.footer .links_sup {
    background:url(../img/ftr_icon03.png) 0 12px no-repeat;
}

.footer .links_fdb {
    background:url(../img/ftr_icon04.png) 0 12px no-repeat;
    display: inline-block;
    color: #ffffff;
    line-height: 56px;
    padding:0 50px 0 35px;
    text-decoration: none;
    cursor: pointer;
}

.footer .links a {
    display: inline-block;
    color: #ffffff;
    line-height: 56px;
    padding:0 50px 0 35px;
    text-decoration: none;
    cursor: pointer;
}

.footer .links a:hover, .footer .links a:focus, .footer .links a.focus,.footer .links_fdb:hover {
    color: #ccc;
}

.footer .country {
	position: absolute;
	right: 0;
	padding: 0;
	margin: 0;
	bottom: 0;
	cursor: pointer;
	height: 56px;
	overflow: hidden;
	width: 100px;
	transition:0.2s;
	-webkit-transition:0.2s;
}

.footer .country:hover {
	height: 112px;
	margin-top: -56px;
	background: rgba(0,0,0,0.2);
}

.footer .country ul {
	position: absolute;
	bottom: 0;
}

.footer .country li a {
	padding: 0 0 0 45px;
	margin: 0;
	text-decoration: none;
	color:#fff;
	font-size: 18px;
}

.footer .country li a:hover {
	color:#ccc;
}

.footer .country li{
	position: relative;
	line-height: 56px;
	padding: 0;
	margin: 0;
}

.footer .country li::before {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.9) , 0 1px 0 rgba(255,255,255,0.3);
	position: absolute;
	content: '';
	top: 14px;
	left: 10px;
}
.footer .country li.tw::before {
    background: url(../img/flags/taiwan.png) center no-repeat;
}
.footer .country li.us::before {
    background: url(../img/flags/usa.png) center no-repeat;
}


.footer span {
    font-size: 12px;
    display: block;
    padding: 10px 0 0 30px;
}

#uvTab{
	display: none !important;
}

.ie-bg {
	display: none;
	display: block \9;
	width: 100%;
	height: 100%;
	position: absolute;
}

@media screen and (max-width: 1024px) {
  .app-donload {
	margin: 30px auto 0;
  }

  .section-story02 .dui-01 span, .section-story02 .dui-02 span{ 
		display: none;
  }

  .section-story02 p {
  	display: block;
  }

  .section-story03 .game-cover {
	display: block;
  }

  .section-story03 .game-cover-new {
	display: none;
  }

  .devices{
	width: 90%;
	left: 5%;
	margin-left: 0;
  }
  .devices li,.devices li:last-child{
  	width: 16.6%;
  }
  .devices li img{
	width: 94%;
	margin: 0 3%;
  }
  .devices ol li{
	font-size: 11px;
	line-height: 16px;
  }

  .footer{
  	position: absolute;
  	height: auto;
  	bottom: 0;
  }
  .footer .links{
	width: 100%;
    right: 0px;
    position: relative;
  }
  .footer .links a,.footer .links_fdb{
	display: block;
	float: none;
	border-bottom: 1px rgba(255,255,255,0.1) solid;
	padding-left: 90px;
	background-position: 50px 12px
  }
  .footer span {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (max-width: 950px) {
	.section-blk {
		min-width: 100%
	}
}

@media screen and (max-width: 768px) {
	.w950 {
		width: 750px;
	}

	.section-blk .w950 h2 ,.section-blk .w950 p {
		width: 600px;
		margin: auto;
	}

	.section-blk .w950 h2 {
		margin-top: 100px;
		margin-bottom: 10px;
	}

	.section-story02 .dui-01 {
		background: url(../img/blk02-dui01.png) 0 0 no-repeat;
		left: -270px;
	}

	.section-story02 .dui-01 .anlg {
		display: none;
	}

	.section-story02 .dui-02 {
		right: -115px;
	}

	.section-story02 .dui-r {
		right: -970px;
	}

	.section-story02 .dui-b {
		right: 85px;
	}

	.section-story02 .dui-y ,.section-story02 .dui-g {
		right: -470px;
	}

	.section-story03 .g1 {
		left: -220px;
	}

	.section-story03 .g2 {
		top: 120px;
		right: -150px;
	}

	.section-story03 .game-cover {
		width: 100%;
	}

	.section-story03 .game-cover li ,.section-story03 .game-cover li img {
		width: 100px;
	}

	.section-story03 .game-cover li.active img {
		width: 110px;
	}

	.section-story04 .cnnct-logo {
		top: 220px;
		width: 100%;
		text-align: center;
		right: 0;
	}

	.app-donload {
	    margin: 150px auto 0;
    }
}

@media screen and (max-width: 568px) {
	.main-block .logo {
		background-size: 70%
	}

	.w950 {
		width: 560px;
	}

	.section-blk .w950 h2 {
		font-size: 40px;
		line-height: 55px;
	}

	.section-blk .w950 h2 ,.section-blk .w950 p {
		width: 500px;
	}

	.section-story02 .dui-01 {
		width: 250px;
		height: 250px;
		background-size: 100%;
		left: -110px;
	}

	.section-story02 .dui-02 {
		width: 250px;
		height: 250px;
		background-size: 100%;
		right: -20px;
	}

    .section-story02 .dui-02 li {
    	width: 90px;
    	height: 90px;
    }

	.section-story02 .dui-02 li.btn-y {
		top: 7px;
		left: 80px;
	}

	.section-story02 .dui-02 li.btn-a {
		top: 153px;
		left: 80px;
	}

	.section-story02 .dui-02 li.btn-x {
		top: 80px;
		left: 6px;
	}

	.section-story02 .dui-02 li.btn-b {
		top: 80px;
		left: 153px;
	}

    .section-story03 .game-cover {
    	left: 5px;
    	top: 400px;
    }

    .section-story03 .game-cover li ,.section-story03 .game-cover li img {
		width: 80px;
	}

	.section-story03 .game-cover li.active img {
		width: 85px;
		margin-left: 3px;
	}

	.section-story03 .game-cover li span {
		top: 120px;
		color: #333;
	}

    .section-story03 .g1 {
		left: -150px;
		width: 550px;
		top: 220px;
    }

	.section-story03 .g2 {
		width: 350px;
		right: 0;
		top: 270px;
	}

    .section-story04 {
    	background-position: 65% bottom
    }

    .section-story04 .howto-btn a{
	    margin: 15px auto;
	    width: 120px;
	    display: block;
	    text-align: center;
    }

    .bottom-block {
    	height: 900px !important;
    }

    .app-donload {
    	width: 550px;
    	margin-top: 50px;
    }

    .app-donload h2 {
    	font-size: 29px;
    }

    .app-donload .store {
    	margin-top: 10px;
    }

    .app-donload .store-hami .qrcode {
    	display: none;
    }

    .app-donload .store-apple, .app-donload .store-android ,.app-donload .store-hami {
    	width: 100%;
    	height: 100px;
    }

    .app-donload .store-apple img , .app-donload .store-android img {
    	width: auto
    }

    .app-donload .store-hami {
    	position: relative;
    	display: block;
    	margin-top: 5px;
    	margin-bottom: 50px;
    }

    .app-donload .store-hami img {
    	margin-top: 18px;
    }

    .devices{
  		text-align: center;
    }
    .devices li img{
		width: 94%;
		margin: 0 3%;
    }
    .devices ol{
  		border:0px;
  		width: 98%;
  		margin: 0;
  		padding:0 0 0 2%;
    }
    .devices ol li{
		width: 100%;
		font-size: 8px;
		line-height: 15px;
    }

	.footer span{
		font-size: 10px;
	}

	.footer .country{
		display: none;
	}
}

@media screen and (max-width: 360px) {
    .w950 {
        width: 310px;
    }

    .main-block.mobile {
		background: #000 url(../img/m-bg-p.jpg) 0 0 no-repeat;
    }

    .section-blk .w950 h2 ,.section-blk .w950 p {
		width: 300px;
    }

    .section-blk .w950 h2 {
  	    font-size: 35px;
  	    line-height: 45px;
    }

    .section-blk .w950 p {
  	    font-size: 16px;
  	    line-height: 25px;
    }

    .section-story02 .dui-01 {
    	left: -140px;
    }

    .section-story02 .dui-02 {
    	right: -50px;
    }

    .section-story03 p span {
    	font-size: 18px;
    	line-height: 30px;
    }
    
    .section-story03 .g1 {
		left: -50px;
		width: 300px;
		top: 250px;
    }

	.section-story03 .g2 {
		width: 150px;
		right: 0;
		top: 310px;
	}

    .section-story03 .game-cover {
    	left: -5px;
    	top: 300px;
    }

    .section-story03 .game-cover li ,.section-story03 .game-cover li img {
		width: 90px;
	}

	.section-story03 .game-cover li img {
    	position: relative;
    }

	.section-story03 .game-cover li.active img {
		width: 90px;
		margin-left: 5px;
		top: 0;
	}

	.section-story03 .game-cover li span {
		top: 250px;
		color: #333;
	}

	.section-story04 .cnnct-logo li {
		width: 40%;
    }

	.section-story04 .cnnct-logo li img {
		width: 100%;
    }

    .app-donload {
    	width: 310px;
    	margin-top: 50px;
    }

    .app-donload h2 img {
    	width: 80px;
    }

    .app-donload h2 {
    	font-size: 24px;
    	text-align: left;
    	line-height: 40px;
    }  

    .devices{
    	text-align: center;
    }
    
    .devices li,.devices li:last-child{
    	width: 33%;
    }
    
    .devices ol{
    	width: 95%;
    	padding:0 0 0 5%;
    }
    
    .devices ol li{
    	width: 100%;
    	font-size: 7.5px;
    	line-height: 12px;
    }

    .footer .links a,.footer .links_fdb{
	    padding-left: 140px;
	    background-position: 100px 12px
    }
    .footer-covers{
	    bottom: 285px;
    }
}